header>h1>a {
    display: block;
    background-image: url(../images/aiyf-logo.png);
    background-repeat: no-repeat;
    height: 50px;
    /* The current AIYF website does this to get rid of the text in the header. Its a bit of a cheaty way of doing it but I'm not going to try and fix it.*/
    text-indent: -9999px;
}

nav>ul>li {
    float: left;
    border-right: 1px #ccc dotted;
}

nav {
    list-style:none;
    margin:0px}

nav a {
    text-decoration:none}

/* Primary Navigation */

ul#primary-navigation{
    position:absolute;
    bottom:0px;
    margin-left:9px;
    font-size:1.3em}

ul#primary-navigation li{
    float:left;
    border-right:1px #ccc dotted}

ul#primary-navigation li a{
    padding:6px 12px 6px 12px;
    display:block;
    color:#999999}

ul#primary-navigation li.current-page a{
    color:#333}

ul#primary-navigation ul{
    position:absolute;
    font-size:1em;
    display: none;
    padding:18px 18px}

ul#primary-navigation li:hover > ul {
    display: block;
    background:url(dd-bg.png);
    width:220px;
    z-index:1000}

ul#primary-navigation ul li {
    float:none;
    list-style:none;
    border-right:0px}

ul#primary-navigation ul li a{
    padding:0px;
    display:block;
    color:#666;}

ul#primary-navigation ul li a:hover{

    color:#d80044}