<?xml version="1.0" encoding="utf-8" ?>  <configuration>
    <system.webServer>  <rewrite>
        <rules>
            <rule name="allToIndex">
                <match url="^(.*)$"/>
                There are different ways to do this redirect and it mostly depends on what type of server you are running. If you are running an apache (or similar) server then you want to create a .htaccess file. If you are running an IIS server then its a web.config file.
                You put this file in your root web directory and it then applies to everything inside of it.
                All this code is doing is taking the page, and then redirecting it to index.php
                web.config
                <action type="Rewrite" url="index.php" appendQueryString="true"/>  </rule>
        </rules>  </rewrite>
    </system.webServer>  </configuration>