<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.webServer>
        <rewrite>
        <rules>
            <rule name="Rewrite routed access to assets(img, css, files, js, favicon)"
                  stopProcessing="true">
                <match url="^(css)(.*)$" />
                <action type="Rewrite" url="404.html"
                        appendQueryString="false" />
            </rule>

            <rule name="allToIndex">
                <match url="^(.*)$"/>
                <action type="Rewrite" url="index.php" appendQueryString="true"/>
            </rule>
        </rules>
        </rewrite>
    </system.webServer>
</configuration>